<h3>Types:</h3><div class = "pkmn-types" *ngFor = "let type of pokemon.types">{{type.type.name | titlecase}}</div><hr>
<h3>Base stats</h3><div class = "pkmn-stats" *ngFor = "let stat of pokemon.stats.slice().reverse()" > {{stat.stat.name | titlecase}}: {{stat.base_stat}}</div><hr>
