.pokemon-img {
  height: 125px;
  width: 125px;
}
.pokemon-box {
  border: solid rgba(0, 0, 0, 0.11) 1px;
  border-radius: 10px;
  box-shadow: 0 0 8px grey;
  display: inline-block;
  margin: 20px;
  text-align: center;
  background-color: white;
  height: 175px;
  width: 175px;
}
.pokemon-box:hover {
  border-color: #66aee9e3;
  box-shadow: 0 0 8px lightblue;
}
.pokemon-name {
  font-weight: bold;
  font-family: "Baloo Paaji", cursive;
  font-size: 18px;
}

.load-button {
  position: relative;
  width: 120px;
  left: 50%;
  margin: 20px;
  margin-left: -60px;
}
.button-container {
  margin: 30px;
}
.search-field {
  margin: 20px;
  width: 400px;
  position: relative;
  margin-left: -200px;
  left: 50%;
}
.pokemon-container {
  position: relative;
  left: 10%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


