<div class="outer-div">
  <div class="container">
    <input
      class="search-field form-control"
      type="text"
      placeholder="Search"
      [(ngModel)]="searchString"
      (input)="filterPokemonsFromSearchString()"
    />
  </div>
  <div class="pokemon-container">
    <div
      routerLink="/detail/{{ pokemon.name }}"
      (click)="saveLoadedPokemonsBeforeNavigating()"
      class="pokemon-box"
      *ngFor="let pokemon of displayedAndFilteredPokemons"
    >
      <div *ngIf="pokemon.sprites.front_default">
        <img class="pokemon-img" [src]="pokemon.sprites.front_default" />
      </div>
      <div class="pokemon-name">{{ pokemon.name | titlecase }}</div>
    </div>
  </div>
  <div class="button-container">
    <button
      (click)="loadMorePokemons()"
      type="button"
      class="btn btn-primary load-button"
    >
      Load more
    </button>
  </div>
</div>
