<div class = "background">
  <div *ngIf="pokemon">
    <div class="image-box">
    <div *ngIf="pokemon.sprites.front_default">
      <img class="pokemon-img" [src]="pokemon.sprites.front_default" />
    </div>
  </div>
</div>
</div>
<div class = "details-box">
<div class="button-container">
  <button
    (click)="onClickBack()"
    type="button"
    class="btn btn-primary load-button"
  >
    Back
  </button>
</div>
<div *ngIf="pokemon">
 <h3 class="name">{{pokemon.name | titlecase }}</h3>
 <app-pokemon-profile [pokemon] ="pokemon"></app-pokemon-profile>
 <app-pokemon-stats [pokemon] ="pokemon"></app-pokemon-stats>
 <app-pokemon-moves [pokemon] ="pokemon"></app-pokemon-moves>
</div>
</div>