.background {
  background-image: url("../../assets/angular-pokemon-img-2a.jpg");
  height: 300px; /* You must set a specified height */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.details-box {
  border: solid rgba(0, 0, 0, 0.11) 1px;
  border-radius: 10px;
  box-shadow: 0 0 8px grey;
  position: absolute;
  left: 15%;
  width: 70%;
  padding: 20px;
  background-color: white;
  font-family: 'McLaren', cursive;
  top: 250px;
}
.pokemon-img {
  height: 200px;
  width: 200x;
}
.image-box {
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 1000px;
  box-shadow:0 0 3px 10px rgb(183, 176, 246);  
  position: absolute;
  left: 50%;
  top: 25px;
  margin-left: -100px;
}
.name {
  text-align: center;
  margin-top: -30px;
}
