<hr><div class = "pkmn-height">Height: {{pokemon.height}} m</div>
<div class = "pkmn-weight">Weight: {{pokemon.weight}} kg</div><hr>
<h3>Abilities:</h3> <div class = "pkmn-abilities" *ngFor = "let ability of pokemon.abilities.slice().reverse()" >Slot {{ability.slot}}: {{ability.ability.name | titlecase}}</div><hr>
<div class = "pkmn-basexp">Base Experience: {{pokemon.base_experience}}</div><hr>
<h3>Sprites</h3><div *ngIf="pokemon">
    <img *ngIf="pokemon.sprites.back_default" class="pokemon-img" [src]="pokemon.sprites.back_default" />
    
    <img *ngIf="pokemon.sprites.back_shiny" class="pokemon-img" [src]="pokemon.sprites.back_shiny" />

    <img *ngIf="pokemon.sprites.front_default" class="pokemon-img" [src]="pokemon.sprites.front_default" />
    
    <img *ngIf="pokemon.sprites.front_default" class="pokemon-img" [src]="pokemon.sprites.front_default" />

    <img *ngIf="pokemon.sprites.back_female" class="pokemon-img" [src]="pokemon.sprites.back_female" />

    <img *ngIf="pokemon.sprites.back_shiny_female" class="pokemon-img" [src]="pokemon.sprites.back_shiny_female" />

    <img *ngIf="pokemon.sprites.front_female" class="pokemon-img" [src]="pokemon.sprites.front_female" />

    <img *ngIf="pokemon.sprites.front_shiny_female" class="pokemon-img" [src]="pokemon.sprites.front_shiny_female" /><hr>
</div>